*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgb(231, 149, 184) 21%, rgba(148,187,233,1) 92%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: rgb(222, 237, 251);
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    font-size: 20px;
    color: black;
    margin: 10px;
    cursor: pointer;
    box-shadow: inset;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal {
    width: 145px;
}
form input.operator{
    color: rgb(240, 44, 191);

}